 /* ==UserStyle==
 @name           black narrow
 @namespace      https://raw.githubusercontent.com/xXkiluxkiluXx/niconico_useful_css/master/black_narrow.user.css
 @version        1.0.0
 @description    darkmode syosetu.com
 @author         ez
 ==/UserStyle== */
@-moz-document regexp("https:\\/\\/ncode\\.syosetu\\.com/.*/") {
.toaster {
    margin: 0 auto;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    max-width: 500px;
    display: none;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%,-50%);
    left: 50%;
}
.toaster.bookmarker_addend {
    background: rgba(231, 72, 250, .8);
}
*, .contents1, #novel_attention ,#impression, #review, .recommend_novel, #recommend , ul.reco li.genre, #footer,.wrap_menu_novelview_after, .footerbookmark li.booklist_now a, .p-novelpoint-form{
    font-size: 14px;
    background: #212121;
    color: #e3d3c1;
}
ul#head_nav li.booklist_now a, li,  #novel_header{
    font-size: 14px;
    background: #000;
    color: #e3d3c1;
}
a {
    text-decoration: none;
    color: #6781d0;
    outline: none;
}
}

@-moz-document url("https://syosetu.com/user/top/"), url("https://syosetu.com/") {
#container{
    color:black
}
#favnovel, #container,#body{
    background:#252525!important;
    
}
#contents,#header{
    background:#292929;
}
#extra{
    background:#292929;
}
ul#head_nav li a,.p-quick-setting__label{
    color:#e4e4e4;
}
a,h1,h2,h3,h4,h5,span,a:-webkit-any-link, dd{
    color:#99a8b6;
}
a:visited,h1:visited,h2:visited,h3:visited,h4:visited,h5:visited,span:visited,a:-webkit-any-link:visited{
    color:#b1969b
}
#pd_box h3{
    color:#FFF;
    background:#787878
}
.normal_box{
    margin: 10px 0 0px 0;
    padding: 10px 10px;
    border: ridge 5px #c0c0c0;
    width: auto !important;
    clear: both!important;
    border-radius: 1.2em / 1em;
    box-shadow: 0.5em 5px 8px rgb(24, 17, 25);
    
}
.normal_box h3{
    color:#fff;
}

.favnovel_list .favnovel_title{
    color:#c2c2c2;
}
.res{
    background:#2c3026;
}
.comment_h2 {
    margin: 5px 0 10px 0;
    padding: 0 0 0 10px;
    border-top: 2px solid #6e6f8f;
    font-size: 90%;
    background: #000;
    color:#fff;
}
#user_info {
    margin: 10px 0 0px 0;
    padding: 10px 0px;
    border: ridge 3px #c0c0c0;
    width: auto !important;
    clear: both!important;
    border-radius: 1.2em / 1em;
    box-shadow: 0.5em 5px 8px rgb(24, 17, 25);

}
}
@-moz-document regexp("https://novelcom.syosetu.com/.*") {
#container{
    color:black
}
#novel_header{
    background:black;
    
}
#contents_main{
    background:#272727;
}
ul#head_nav li a,.p-quick-setting__label{
    color:#e4e4e4;
}
a,h1,h2,h3,h4,h5{
    color:#99a8b6;
}
a:visited,h1:visited,h2:visited,h3:visited,h4:visited,h5:visited{
    color:#b1969b
}
.comment_info, .comment{
    color:#c2c2c2;
}
.res{
    background:#2c3026;
}
.comment_h2 {
    margin: 5px 0 10px 0;
    padding: 0 0 0 10px;
    border-top: 2px solid #6e6f8f;
    font-size: 90%;
    background: #000;
    color:#fff;
}
.waku {
    margin: 10px 0 0px 0;
    padding: 10px 10px;
    border: ridge 5px #c0c0c0;
    width: auto !important;
    clear: both!important;
    border-radius: 1.2em / 1em;
    box-shadow: 0.5em 5px 8px rgb(24, 17, 25);

}
}
